h1 {
  font-family: "Kodchasan";
}

h1 a {
  margin: 20px;
  color: black;
  text-decoration: none;
}

h1 a:hover {
  color: mediumslateblue;
}

h2 {
  color: black;
}

a {
  color: black;
}

.nav1 {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 12px;
  height: 30px;
  position: fixed;
  top: 15px;
  right: 0px;
}

.nav1 li {
  display: inline-block;
  font-size: 12px;
  padding: 5px;
  text-decoration: none;
  font-family: "Kodchasan";
  color: red;
}

.nav1 a:link {
  text-decoration: none;
  font-family: "Kodchasan";
}

.nav1 a:hover {
  color: rgb(20, 255, 11);
  text-decoration: none;
  font-family: "Kodchasan";
}

.a_and_r_links a:link {
  color: black;
  text-decoration: none;
  height: 50px;
  font-family: "Kodchasan";
}

.a_and_r_links a:hover {
  color: rgb(20, 255, 11);
  text-decoration: none;
  font-family: "Kodchasan";
}

.row {
  padding: 5px;
  padding: 5px;
}

.column {
  flex: 50%;
  padding: 12px;
}

.row:after {
  padding: 5px;
}

.title {
  margin-top: 0px;
  margin-bottom: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
  text-align: center;
  font-family: "Kodchasan";
}

.aboutTheWork {
  padding: 10px;
  /*margin-right: 1000px;*/
  margin-top: 15px;
  text-align: center;
  margin-right: 200px;
  margin-left: 200px;
}

.artistInfoEtc {
  margin-top: 0px;
  margin-bottom: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
  text-align: center;
  font-family: "Kodchasan";
}

.artistBio {
  padding-top: 200 px;
  text-align: center;
  font-family: "Kodchasan";
}

.col {
  padding: 5px;
  text-align: center;
  font-family: "Kodchasan";
}

.work {
  /*margin: 0px 150px;*/
  /*margin-top: 50px;
  margin-left: 100px;
  margin-right: 50px;
  float: left;
  width: 346 px;
  height: 576.8px;*/
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

.vid {
  margin-top: -150px;
  margin-left: 50px;
  margin-right: 50px;
  float: left;
  width: 1000px;
  height: 1000px;
}

.p1 {
  margin: 10px;
  text-align: center;
  vertical-align: center;
  font-family: "Kodchasan";
  padding: 5px;
  color: hsl(120, 100%, 25%);
  font-size: 11px;
}

.paylink {
  font-family: "Kodchasan";
  padding: 15px;
  text-align: center;
  /*margin-left: 200px;
  margin-top: 20px;*/
}

.paylink a:link {
  color: black;
  text-decoration: none;
  font-family: "Kodchasan";
  //padding: 20px;
}

.paylink a:hover {
  color: mediumslateblue;
}

.transcript_header {
  text-align: center;
}

/*
.pdf_embedder {
	width:1600px;
	height:800px;
	margin-left: auto;
	margin-right: auto;
}
*/


.dropdown {

float: left;
overflow: hidden;
list-style-type: none;
text-align: center;
height: 30px;
top: 39px;
padding: 3px;

}

.dropdown .dropbtn {	
  text-decoration: none;
font-family: "Kodchasan";
  cursor: pointer;
  border: none;
  outline: none;
  margin: 0;
background-color:transparent;	
font-size: 12px;
text-align: center;
}

.dropdown-content {
font-size: 12px;
  display: none; 
  position: absolute; 
  background-color:rgb(20, 255, 11);
}

.dropdown-content a {
  float: none;
  color: black;
  text-decoration: none;
  display: block;
top: 15px;
}

.show {
  display: block;
}